name: Terraform GitOps Workflow
run-name: TerraformCD

on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, synchronize, reopened, edited ]
  workflow_dispatch:
    inputs:
      TF_LOG:
        description: "Run Terraform in log mode"
        required: true
        type: choice
        options:
          - "DEBUG"
          - "INFO"
          - "WARN"
          - "ERROR"
        default: "INFO"

env:
  TF_VERSION: "1.5.7"
  AWS_REGION: "us-east-1"

jobs:
  terraform-plan:
    runs-on: terraformcd
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TF_VERSION }}

      # - name: Set Docker
      #   run: |
      #     sudo yum update -y
      #     sudo yum install docker -y
      #     sudo service docker start
      #     sudo usermod -a -G docker ec2-user
      #     newgrp docker

      - name: Terraform Init
        working-directory: infra
        run: terraform init

      - name: Terraform Plan
        working-directory: infra
        run: terraform plan -out=tfplan
        env:
          AWS_REGION: ${{ env.AWS_REGION }}
          TF_LOG: ${{ inputs.TF_LOG }}

      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v3
        with:
          name: terraform-plan
          path: infra/tfplan
